body {
}
/* body section */
.body {
  width: 960px;
  margin: 0 auto;
}
/* nav section */
.nav {
  background-color: rgb(158, 98, 98);
  display: flex;
}
.navleft {
  float: left;
  width: 75%;
}
.navleft ul {
  list-style-type: none;
}
.navleft ul li {
  display: block;
  float: left;
  margin-right: 20px;
  margin-left: 0px;
}
.navleft ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 0px 5px 5px 5px;
  padding: 1px 10px 10px 0px;
}
.navleft ul li a:hover {
  color: white;
  background: black;
  padding: 5px;
}
.navright {
  float: right;
  width: 25%;
  display: flex;
}
.search {
}
.search input[type="text"] {
  background: gainsboro;
  padding: 5px 5px;
  border: 3px solid #522727;
  margin: 13px 5px;
}
.go input[type="submit"] {
  background: #ffd9d9;
  border: 1px solid #654949;
  padding: 6px;
  margin: 12px 5px;
  border-radius: 5px;
}
/* banner section */
.banner {
  background: rgb(255, 255, 255);
  display: flex;
  margin-bottom: 55px;
  margin-top: 44px;
}
.bannerleft {
  float: left;
  width: 50%;
}
#skip {
  color: rgb(9, 238, 28);
  font-size: 73px;
}
.bannerleft h1 {
  font-size: 50px;
  line-height: 64px;
  font-weight: bold;
}
.bannerleft p {
  color: gray;
  font-size: 34px;
}
.bannerleft a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-image: -webkit-linear-gradient(red, blue);
  padding: 10px 28px;
  border-radius: 28px;
}
.bannerleft a:hover {
  background-image: -webkit-linear-gradient(
    rgb(248, 247, 247),
    rgb(9, 233, 65)
  );
  font-size: 23px;
  color: rgb(0, 0, 0);
}
.bannerright {
  float: right;
  width: 50%;
}
.bannerright img {
  height: 470px;
  width: 433px;
}

/* about section */
.about {
  background-image: url(img/Frame\ 58.jpg);
  display: flex;
  margin-bottom: 55px;
  background-repeat: no-repeat;
  background-position: left;
}
.aboutleft {
  float: left;
  width: 50%;
  margin: 30px 33px;
}
.aboutleft img {
  height: 444px;
  width: 444px;
  border-radius: 100%;
}
.aboutright {
  margin: 69px 42px;
  width: 50%;
}
.aboutright h2 {
  font-size: 44px;
  color: #634949;
}
.aboutright p {
  margin-bottom: 59px;
  color: #1f1010;
  font-size: 16px;
}
.aboutright a {
  text-decoration: none;
  background-image: linear-gradient(#e85959, #ffb6b6);
  padding: 14px 29px;
  border-radius: 44px 11px;
}
.aboutright a:hover {
  color: #110d0d;
  font-size: 33px;
  background-image: linear-gradient(#75dd2f, #3e87cc);
}
/* title section */
.title {
  background-image: url(img/Group\ 8449.png);
  text-align: center;
  background-position: bottom;
}
.title h2 {
  font-size: 44px;
  font-weight: bold;
  padding-top: 42px;
}
.title p {
  margin: 0 216px;
  font-size: 23px;
  color: #d47a7a;
  padding-bottom: 40px;
}
/* content section */
.content {
  background: rgb(248, 238, 238);
}
.samecontent {
  display: flex;
}
.singlecontent {
  background: #ffffff;
  width: 251px;
  margin: 40px 15px;
  box-shadow: 0px 0px 16px 0px;
  padding: 19px;
  border-radius: 11px;
}
.singlecontent img {
  height: 175px;
  width: 248px;
  border-radius: 18px;
}
.singlecontent h2 {
  font-size: 39px;
  font-weight: bold;
  color: blue;
}
.singlecontent a {
  text-decoration: none;
}
.singlecontent h2:hover {
  font-size: 39px;
  font-weight: bold;
  color: rgb(243, 243, 250);
  background-color: #110d0d;
}
.singlecontent p {
  font-size: 21px;
  line-height: 26px;
  color: #00b100;
}

/* feedback section */
.feedback {
}
.feedbackcontent {
  display: flex;
}
.feedbackwrite {
  margin: 48px 43px;
  padding: 22px 22px;
  background: #efd4d4;
  border: 2px solid blue;
  box-shadow: 0px 0px 8px 6px;
  width: 182px;
  text-align: center;
}
/* contact section */
.contact {
  display: flex;
}
.contactleft {
  float: left;
  width: 70%;
  background: #ffeaea;
  padding: 22px;
}
.contactleft h2 {
  font-size: 35px;
  text-shadow: 2px 2px 3px;
}
.contactright {
  float: left;
  width: 66%;
  background: #ffeaea;
}
.contactright h2 {
  text-align: center;
  font-size: 46px;
  border-bottom: 3px solid gray;
  padding: 10px 0px;
  margin: 22px 89px;
}
.contactright ul {
  list-style: none;
}
.contactright ul li {
  display: block;
  float: left;
}
.contactright ul li a {
  display: block;
  text-decoration: none;
  font-size: 0px;
}

.contactright img {
  width: 92px;
  height: 98px;
  margin: 46px 0px;
}

/* footer section */
.footer {
  background-color: black;
  text-align: center;
  padding: 33px 0;
}
.footer h2 {
  color: white;
  font-size: 55px;
}
.footer p {
  color: gainsboro;
  font-size: 23px;
}
